@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.color,#products h2,.nav-links a,.banner-txt h1,.banner-txt p{
    color: #3A3A3A;
}
.color2,.see a{
    color: #E02C6D;
}
#main-section{
    padding: 0 120px;
}
#navbar{
    display: flex;
    justify-content: space-between;
    padding: 87px 120px 50px 120px;
}
#navbar h3{
    font-size: 1.5rem;
    font-weight: 700;
}
.nav-links{
    display: flex;
    gap: 34px;
}
.nav-links a{
    text-decoration: none;
    font-size: 1rem;
    
}
/* button */
.btn{
    padding: 10px 24px;
    border: none;
    background-color: #E02C6D;
    color: white;
    border-radius: 41px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}
.btn i{
    margin-left: 8px;
    vertical-align: middle;
}
/* banner */
#banner{
    margin-top: 80px;
}
.banner-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 69px;
}
.banner-txt{
    padding-top: 104px;
}
.banner-txt h1{
    font-size: 3.25rem;
    font-weight: 700;
    line-height: 70px;
    margin-bottom: 16px;
    /* border: 1px solid #000000; */
}
.banner-txt p{
    font-size: 1rem;
    margin-bottom: 16px;
}
.banner-image{
    background-image:url(images/Circle.svg);
    background-repeat: no-repeat;
    margin-left:133px;
    background-size: 95%;
}
/* sponsors */
#sponsors{
    margin-bottom: 100px;
}
.sponsor-container{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid #000000; */
    padding: 36px 62px;
    align-items: center;
    box-shadow:0px -5px 0.1px 0.1px rgba(0,0,0,0.05),0 4px 0.1px 0.1px rgba(0, 0, 0, 0.05);
}
.logo-item{
    width: 20%
}
#products h2{
    font-size: 1.75rem;
    line-height: 70px;
    text-align: center;
}
.product-container{
    display: grid;
    grid-template-columns: repeat(3,3fr);
    gap: 30px;
    width: 100%;
    margin-bottom: 55px;
}
.product-item{
    /* border: 1px solid #000000; */
    padding: 17px 15px;
    border-radius: 5px;
    box-shadow: 0 0 15px 10px rgba(0,0,0,0.1);
}
.product-item img{
    /* border: 1px solid #000000; */
    width: 100%
    
}
.product-item h3{
    font-size: 1.75rem;
    line-height: 40px;
}
.price{
    font-size: 1.5rem;
    line-height: 70px;
}
.product-info p{
    font-size: 0.875rem;
    line-height: 143%;
    letter-spacing: 1.8%;
}
.rating{
    display: flex;
    gap: 10px;
}
.rating .star p{
    color: #FBBF24;
}
.see{
    text-align: end;
    font-size: 1rem;
    font-weight: 600;
}
.see a{
    text-decoration: none;
}
.see i{
    margin-left: 8px;
}
@media screen and (max-width: 575px) {
    #main-section{
        padding: 0 20px;
    }
    #navbar{
        padding: 50px 30px 50px 30px;
        /* border: 1px solid #000000; */
    }
    #navbar h3{
        font-size: 2rem;
        margin-right: 30px;
    }
    .nav-links{
        flex-wrap: wrap;
    }
    /* banner-section */
    .banner-container{
        text-align: center;
        flex-direction: column-reverse;
    }
    .banner-txt h1{
        margin-top: 14px;
        /* text-align: center; */
        font-size: 2rem;
        font-weight: 700;
        line-height: 40px;
    }
    .banner-txt p{
        /* text-align: center; */
        font-size: 0.9rem;
        margin-bottom: 20px;
        font-weight: 500;
    }
    .banner-image{
        margin-left: 0;
        background-size: 95%;
    }
    .banner-image img{
        width: 100%;
    }
    /* sponsors */
    .sponsor-container{
        padding: 0;
        flex-wrap: wrap;
        box-shadow: none;
        justify-content:center;
        margin: 0 42px;
        gap:10px;
        width: 80%;
    }
    .sponsor-container .logo-item img{
        width: 80%;
    }
    /* product */
    .product-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin-bottom: 34px;
    }
}