@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.color,.nav-links a,.banner-txt h1,.banner-txt p{
    color: #3A3A3A;
}
.color2{
    color: #E02C6D;
}
#main-section{
    padding: 0 120px;
}
#navbar{
    display: flex;
    justify-content: space-between;
    padding: 87px 120px 50px 120px;
}
#navbar h3{
    font-size: 1.5rem;
    font-weight: 700;
}
.nav-links{
    display: flex;
    gap: 34px;
}
.nav-links a{
    text-decoration: none;
    font-size: 1rem;
    
}
/* button */
.btn{
    padding: 10px 24px;
    border: none;
    background-color: #E02C6D;
    color: white;
    border-radius: 41px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}
.btn i{
    margin-left: 8px;
    vertical-align: middle;
}
/* banner */
#banner{
    margin-top: 80px;
}
.banner-container{
    display: flex;
    justify-content: space-between;
}
.banner-txt h1{
    font-size: 3.25rem;
    font-weight: 700;
    line-height: 70px;
    margin-bottom: 16px;
    /* border: 1px solid #000000; */
}
.banner-txt p{
    font-size: 1rem;
    margin-bottom: 16px;
}
.banner-image{
    background-image:url(images/Circle.svg);
    background-repeat: no-repeat;
    margin-left:133px;
}

@media screen and (max-width: 575px) {
    #main-section{
        padding: 0 20px;
    }
    #navbar{
        padding: 50px 30px 50px 30px;
        border: 1px solid #000000;
    }
    #navbar h3{
        font-size: 2rem;
        margin-right: 30px;
    }
    .nav-links{
        flex-wrap: wrap;
    }
    /* banner-section */
    .banner-container{
        text-align: center;
        flex-direction: column-reverse;
    }
    .banner-txt h1{
        margin-top: 14px;
        /* text-align: center; */
        font-size: 2rem;
        font-weight: 700;
        line-height: 40px;
    }
    .banner-txt p{
        /* text-align: center; */
        font-size: 0.9rem;
        margin-bottom: 20px;
        font-weight: 500;
    }
    .banner-image{
        margin-left: 0;
        background-size: 95%;
    }
    .banner-image img{
        width: 100%;
    }
}